@using BlazorGameStore.Client.Shared.BlogComponents

@foreach (var post in Posts)
{
    <div style="margin: 20px;">
        <div>
            <h3>
                @post.Title
            </h3>
        </div>
        <div>
            @post.Description
        </div>
    </div>
}

@code {
    public List<BlogPost> Posts { get; set; } = new List<BlogPost>()
    {
        new BlogPost { Title = "A new blazor tutorial", Description = "This is a new tutorial how to build a blog with Blazor"},
        new BlogPost { Title = "A new asp.net core tutorial", Description = "This is a new asp.net core tutorial about building an Api with Asp.net core"}
    };
}
