@page "/post/{url}"
@inject IBlogService BlogService

<h3>@CurrentPost.Title</h3>

<div>
    @CurrentPost.Content
</div>

@code {
    private BlogPost CurrentPost { get; set; }

    [Parameter]
    public string Url { get; set; }

    protected override void OnInitialized()
    {
        CurrentPost = BlogService.GetBlogPostByUrl(Url);
    }
}
