@page "/post/{url}"
@inject IBlogService BlogService


@if (CurrentPost == null)
{
    <span>Loading...</span>
}
else
{
    <h3>@CurrentPost.Title</h3>

    <div>
        @CurrentPost.Content
    </div>

}

@code {
    private BlogPost CurrentPost { get; set; }

    [Parameter]
    public string Url { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogService.GetBlogPostByUrl(Url);
    }
}
