@inject IProductService ProductService

<ul class="list-unstyled">
    @foreach (var product in ProductService.Products)
    {
        <li class="media my-3">
            <div class="flex-row">
                <div class="media-img-wrapper">
                    <a href="/product/@product.Id">
                        <img class="media-img" src="@product.Image" alt="@product.Title" />
                    </a>
                    <h5 class="price">
                        $@product.Price
                    </h5>
                    @if (product.OriginalPrice > product.Price)
                    {
                        <h6 class="text-muted original-price">$@product.OriginalPrice</h6>
                    }
                </div>
                <div class="media-body">
                    <a href="/product/@product.Id">
                        <h4 class="mb-0">@product.Title</h4>
                    </a>
                    <p class="product-description">@product.Description</p>
                </div>
            </div>

        </li>
    }
</ul>


@code {
    protected override Task OnInitializedAsync()
    {
        ProductService.LoadProducts();

        return Task.CompletedTask;
    }

}